.campaign-creation__progress {
    display: flex;
    background: #fff;
    border-top: 1px solid #e9eaeb;
    bottom: 0;
    box-shadow: 0 4px 8px rgb(0 0 0 / 4%);
    justify-content: space-between;
    padding: 14px 32px;
    position: fixed;
    width: 100%;
    z-index: 500;
}

.step-bar {
    display: flex;
}

.step {
    display: flex;
    align-items: center;

    &__bullet {
        width: 20px;
        height: 20px;
        border: 1px solid $colorGray2;
        border-radius: 50%;
        margin-right: 12px;
    }

    &__text {
        font-size: 11px;
        color: $colorDark;
        margin-right: 12px;
    }

    &__line {
        width: 30px;
        height: 1px;
        background-color: $colorGray2;
        margin-right: 12px;
    }
}

.completed {
    background-color: gray;
}

.current {
    border: 1px solid $colorDark;
}

.step-btn {
    padding: 10px 20px;
    border-radius: 25px;
}

.back-btn {
    visibility: hidden;
}

.next-btn {
    color: white;
    font-size: 13px;
    font-weight: 600;
    background-color: $colorDark;
}