.page {
  position: fixed;
  top: 54px;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f0f1f2;

  &.-expanded > .sidebar {
    margin-left: 0;
  }

  &.-expanded > .content {
    width: calc(100% - 250px);
  }

  &.-collapsed > .sidebar {
    margin-left: -250px;
  }

  &.-collapsed > .content {
    width: 100%;
  }

  .sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background:white;
    border-right: 0.5px solid #e9eaeb;
    transition: all 0.3s ease-out 50ms;
    z-index: 50;

    &__list {
      padding: 24px;
    }

    &__item {
      display: flex;
      align-items: center;
      padding: 10px 10px;
      border-radius: 6px;
      margin-bottom: 10px;
      width: 100%;
    }

    &__icon {
      padding: 4px;
      margin-right: 4px;
    }

    &__text {
      font-size: 13px;
      font-weight: 500;

      &:first-child {
        margin-left: 4px;
      }
    }

  }
}

.create-ad__btn {
  border: 2px solid $colorAccent;

  &:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 8%);
    transform: translateY(-2px);
	  transition: transform 0.2s linear 20ms;
  }
}

  .create-ad__icon {
    position: relative;
    width:24px;
    height:24px;
    background:$colorAccent;
    border-radius: 2px;
  }
  
  .create-ad__icon:before,
  .create-ad__icon:after {
    content: "";
    position:absolute;
    background: $colorDark;
  }
  
  .create-ad__icon:before {
    left:50%;
    top:6px; 
    bottom:6px;
    width:2px;
    transform:translateX(-50%);
  }
  
  .create-ad__icon:after {
    top:50%;
    left:6px;
    right:6px;
    height:2px;
    transform:translateY(-50%);
  }

  
