@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #3a3e41;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 54px;
  border-top: 2px solid #ffd301;
  z-index: 100;
  border-bottom: 0.5px solid #e9eaeb;
  padding: 0 24px;
}

.left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-ads__btn {
  font-size: 14px;
  font-weight: 600;
  background-image: url("../img/down.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  padding-right: 16px;
  margin-right: 24px;
}

.dropdown__content {
  display: none;
  background-color: white;
  width: 200px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.08);
}
.dropdown__content label {
  position: relative;
  display: block;
}

input:checked ~ .dropdown__content {
  display: block;
}

.account__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url("../img/down.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  padding-right: 16px;
}

.account {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 6px 12px;
  width: 100%;
  margin: 12px 0;
}

.email-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4px 12px;
  margin-bottom: 20px;
}
.email-box strong {
  margin-bottom: 4px;
}

.terms {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #f0f0f0;
  padding: 6px 12px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.08);
}

.dropdown input {
  opacity: 0;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}
.dropdown label {
  -webkit-transform: translateY(-26px);
          transform: translateY(-26px);
}

.notif {
  position: absolute;
  top: 18px;
  right: 150px;
}

.page {
  position: fixed;
  top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f0f1f2;
}
.page.-expanded > .sidebar {
  margin-left: 0;
}
.page.-expanded > .content {
  width: calc(100% - 250px);
}
.page.-collapsed > .sidebar {
  margin-left: -250px;
}
.page.-collapsed > .content {
  width: 100%;
}
.page .sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  background: white;
  border-right: 0.5px solid #e9eaeb;
  -webkit-transition: all 0.3s ease-out 50ms;
  transition: all 0.3s ease-out 50ms;
  z-index: 50;
}
.page .sidebar__list {
  padding: 24px;
}
.page .sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  width: 100%;
}
.page .sidebar__icon {
  padding: 4px;
  margin-right: 4px;
}
.page .sidebar__text {
  font-size: 13px;
  font-weight: 500;
}
.page .sidebar__text:first-child {
  margin-left: 4px;
}

.create-ad__btn {
  border: 2px solid #ffd301;
}
.create-ad__btn:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: -webkit-transform 0.2s linear 20ms;
  transition: -webkit-transform 0.2s linear 20ms;
  transition: transform 0.2s linear 20ms;
  transition: transform 0.2s linear 20ms, -webkit-transform 0.2s linear 20ms;
}

.create-ad__icon {
  position: relative;
  width: 24px;
  height: 24px;
  background: #ffd301;
  border-radius: 2px;
}

.create-ad__icon:before,
.create-ad__icon:after {
  content: "";
  position: absolute;
  background: #3a3e41;
}

.create-ad__icon:before {
  left: 50%;
  top: 6px;
  bottom: 6px;
  width: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.create-ad__icon:after {
  top: 50%;
  left: 6px;
  right: 6px;
  height: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.campaign-creation__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border-top: 1px solid #e9eaeb;
  bottom: 0;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 32px;
  position: fixed;
  width: 100%;
  z-index: 500;
}

.step-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.step__bullet {
  width: 20px;
  height: 20px;
  border: 1px solid #afafaf;
  border-radius: 50%;
  margin-right: 12px;
}
.step__text {
  font-size: 11px;
  color: #3a3e41;
  margin-right: 12px;
}
.step__line {
  width: 30px;
  height: 1px;
  background-color: #afafaf;
  margin-right: 12px;
}

.step.active .step__bullet {
  border: 1px solid #3a3e41;
}

.step.finish .step__bullet {
  background-color: #3a3e41;
}

.next-btn {
  color: white;
  background-color: #3a3e41;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 600;
  min-height: 32px;
  padding: 8px 20px;
}

.back-btn {
  color: #3a3e41;
  background-color: #fff;
  border-radius: 100px;
  border: 1px solid #afafaf;
  font-size: 14px;
  font-weight: 600;
  min-height: 32px;
  padding: 8px 20px;
}

.next-btn {
  color: white;
  font-size: 13px;
  font-weight: 600;
  background-color: #3a3e41;
}

:disabled {
  background-color: gray;
}

.campaign {
  width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 40px;
}

.action__btn {
  height: 30px;
  font-size: 12px;
  font-weight: 600;
  padding: 0 16px;
  background-color: #fff;
  border-radius: 25px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);
}

.tab {
  display: none;
  margin-bottom: 150px;
}
.tab__title {
  display: inline-block;
  border-bottom: 3px solid #ffd301;
  font-size: 20px;
  font-weight: 800;
  line-height: 26px;
  text-align: center;
}

.objectives {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  text-align: left;
  background-color: white;
  margin: 0px 0px 16px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 8px 0px;
          box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 8px 0px;
  padding: 24px 24px;
}
.card__wrapper {
  margin-top: 40px;
}
.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.card__caption {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}

.toggle-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}
.toggle-btns div {
  display: inline-block;
  position: relative;
  margin-right: 16px;
  margin-bottom: 8px;
}
.toggle-btns div label {
  position: absolute;
  z-index: 0;
  padding: 0 24px;
}
.toggle-btns div input {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}

.toggle-btn {
  text-align: left;
  color: #3a3e41;
  border-radius: 6px;
  border: solid 1px #CCC;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.toggle-btns * {
  width: 100%;
  height: 48px;
  line-height: 46px;
}

.toggle-btns div:hover label {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  border: solid 1px #b8b8b8;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: -webkit-transform 0.2s linear 20ms;
  transition: -webkit-transform 0.2s linear 20ms;
  transition: transform 0.2s linear 20ms;
  transition: transform 0.2s linear 20ms, -webkit-transform 0.2s linear 20ms;
}

.toggle-btns div input:checked + label {
  border: 2px solid #ffd301;
}

label {
  display: inline-block;
  color: #53575b;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 6px;
}

input {
  color: #121314;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background: #f7f8f9;
  border-radius: 4px;
  border: 1px solid transparent;
  height: 40px;
  padding: 0 16px 1px;
  width: 100%;
  margin-bottom: 20px;
}

input:hover {
  border: 1px solid #ffd301;
  -webkit-transition: border 0.3s linear 20ms;
  transition: border 0.3s linear 20ms;
}

input:focus {
  border: 1px solid #f7f8f9;
  -webkit-transition: border 0.3s linear 20ms;
  transition: border 0.3s linear 20ms;
  border-bottom: 2px solid #ffd301;
  background-color: #ebecf0;
}

input.invalid {
  border: 1px solid #c50a33;
}

.modal {
  display: none;
  position: fixed;
  z-index: 501;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(33, 34, 36, 0.2);
}
.modal__content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  margin: auto;
  padding: 24px;
  width: 36%;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}
.modal__text {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 30px;
}
.modal select {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
}
.modal__bottom {
  margin-top: 20px;
}
.modal__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
}
.modal__actions .action-btn {
  font-size: 13px;
  font-weight: 600;
}
.modal__actions .cancel-btn {
  margin-right: 20px;
  color: #219aeb;
}

.modal__select {
  position: relative;
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=styles.css.map */